<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-type" />
</head>
<body>
<h1>Uusi hakemus!</h1>
<p>
  <%= @app.full_name %> on hakenut kerhon jäsenyyttä <%= @app.created_at %>.
</p>
</body>
</html>