<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-type" />
  </head>
  <body>
    <h1>Kiitos hakemuksestanne Malmin Ilmailukerhoon, <%= @app.full_name %></h1>
    <p>
      Teihin ollaan yhteydessä mahdollisimman pian.
    </p>
    <p>
      Kiitos mielenkiinnosta MIK:ta kohtaan!
    </p>
  </body>
</html>